/*
 * Front-end.
 */

.onepage_page {}

#onepage_toplink {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;
}
#onepage_toplink img {
    border: none;
}
.onepage_hide {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 1s;
}
.onepage_show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    transition: opacity 1s;
}

/*
 * Back-end.
 */

.onepage_logo {
    float: left;
    width: 128px;
    height: 128px;
    margin: 0.5em 1em 0 0;
}
.onepage_justify {
    text-align: justify;
}
